/*
#posts > tbody:nth-of-type(1) > tr:nth-of-type(1) > .right {
    position: absolute !important;
    top: 0px !important;
    left: 0vw !important;
    overflow-y: auto;
    overflow-x: auto;
     !important;
    bottom: 0;
     !important;
    width: 95vw;
    height: max-content !important;
    min-height: 100% !important;
    z-index: 1000;
}
/*
body {
    position: absolute !important;
    top: 0px !important;
    left: 100vw !important;
    overflow-y: scroll;
     !important;
    overflow-x: scroll;
     !important;
    bottom: 0;
     !important;
    z-index: 999;
}

#posts TBODY TR .right .item.text {
    font-size:23px !important;}
*/
